@charset "utf-8";

/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */

 @mixin wrap {
  width: 1200px;
  margin: 0 auto;
}

$black: #0d0d0d;
$pink: #b2303c;
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit: true;
$support-opera: true;
@mixin clearfix {
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

$breakpoint-mobile01: 750px;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

$breakpoint-mobile02: 751px;
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

body {
  min-width: 1220px;
  font-family: 'メイリオ', Meiryo;
  font-size: 13px;
  color: $black;
  line-height:1;
  @include max-screen($breakpoint-mobile01) {
    min-width: initial;
  }
}

.pc {
  @include max-screen($breakpoint-mobile01) {
    display: none!important;
  }
} //.pc
.rsp {
  @include min-screen($breakpoint-mobile02) {
    display: none!important;
  }
}

img {
  @include max-screen($breakpoint-mobile01) {
    width: 100%;
    height: auto;
  }
}

/* -------------------------------------------------- ヘッダー（共通） */
#header{
  width: 100%;
  background: url("../img/header_bg.jpg") center 0 no-repeat;
  @include max-screen($breakpoint-mobile01) {
    background: url("../img/bg.jpg");
  }
  .inner{
    @include clearfix;
    width: 1000px;
    height: 140px;
    margin: 0 auto;
    padding: 0 100px;
    background: url("../img/header_inner_bg.jpg") center 0 no-repeat;
    @include max-screen($breakpoint-mobile01) {
      width: 100%;
      height: auto;
      padding: 0;
      background: none;
    }
    .logo{
      float: left;
      margin: 48px 0 0 0;
      @include max-screen($breakpoint-mobile01) {
        margin: 0 0 0 15px;
      }
      h1{
        background: url("../img/logo.gif") 0 18px no-repeat;
        @include max-screen($breakpoint-mobile01) {
          height: auto;
          background: url("../img/logo.gif") 0 12px no-repeat;
        }
        a{
          display: block;
          padding: 60px 0 0 95px;
          font-size: 12px;
          font-family: "Kozuka Mincho Pr6N";
          color: $pink;
          @include max-screen($breakpoint-mobile01) {
            padding: 50px 0 12px 95px;
            text-align: right;
          }
        }
      }
    }
    #menu_btn {
      float: right;
    }
    #gnav{
      float: right;
      margin: 80px 0 0 100px;
      li{
        display: inline-block;
        padding-left: 27px;
        &:first-child{
          width: 25px;
          padding: 0;
          text-align: left;
        }
        &:last-child{
          width: 63px;
          text-align: right;
        }
        a:hover{
        }
      }
    }
    #menu {
      display: none;
      width: 100%;
      top: 74px;
      position: absolute;
      z-index: 100;
      li {
        background-color: $pink;
        border-top: 1px solid #fff;
        a {
          display: block;
          padding: 10px;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

/* -------------------------------------------------- フッター（共通） */
#footer{
  width: 100%;
  height: 430px;
  background: url("../img/footer_bg.jpg") center 0 no-repeat;
  @include max-screen($breakpoint-mobile01) {
    height: auto;
    background: url("../img/sp/footer_bg.jpg") center top no-repeat;
    background-size:auto 100%;
  }
  .inner{
    @include wrap;
    height: 430px;
    background: url("../img/footer_inner_bg.jpg") center 0 no-repeat;
    @include max-screen($breakpoint-mobile01) {
      width: 100%;
      height: auto;
      padding-bottom: 2%;
      background: none;
    }
    .shop_info{
      @include clearfix;
      width: 535px;
      margin-left: 100px;
      padding: 54px 0 25px;
      @include max-screen($breakpoint-mobile01) {
        width: 100%;
        margin: 0 auto;
        padding: 0;
      }
      h2{
        float: left;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          width: 180px;
          height: 109px;
          margin: 0 auto;
          padding: 20px;
        }
      }
      dl{
        float: right;
        width: 315px;
        font-size: 13px;
        line-height: 2.154;
        color: #fff;
        @include max-screen($breakpoint-mobile01) {
          @include clearfix;
          float: none;
          margin: 0 auto;
          line-height: 1.846;
        }
        dt {
          float: left;
          clear: left;
          width: 55px;
          padding-right: 20px;
          color: #fff;
        }
        dd {
          float:left;
          color: #fff;
        }
      }
    }
    .tel{
      width: 478px;
      height: 58px;
      margin-left: 100px;
      padding: 20px 25px 17px 25px;
      @include max-screen($breakpoint-mobile01) {
        @include clearfix;
        width: 315px;
        height: auto;
        margin: 25px auto 45px;
        padding: 10px 0;
        background: #970c00;
      }
      .txt01{
        font-size: 18px;
        color: #fff;
        @include max-screen($breakpoint-mobile01) {
          padding: 0 0 10px;
          font-size: 11px;
          text-align: center;
        }
      }
      .tel_icon{
        float: left;
        width: 126px;
        padding-left: 15px;
      }
      .txt02{
        padding-top: 18px;
        text-align: right;
        font-size: 14px;
        color: #fff;
        @include max-screen($breakpoint-mobile01) {
          float: left;
          padding: 1% 0 0 2%;
          font-size: 9px;
        }
      }
    }
    ul{
      width: 535px;
      margin: 20px 0 0 105px;
      font-size: 0;
      li{
        display: inline-block;
        text-align: center;
        font-size: 14px;
        color: #fff;
        border-right: 2px solid #fff;
        &:first-child{
          border-left: 2px solid #fff;
        }
        a{
          display: block;
          padding: 0 11px;
          color: #fff;
        }
      }
    }
    .copyright{
      margin-top: 60px;
      text-align: center;
      font-size: 12px;
      color: #fff;
      @include max-screen($breakpoint-mobile01) {
        margin-top: 0;
        padding-bottom: 4px;
        font-size: 9px;
      }
    }
  }
}

/* トップページ
-------------------------------------------------- */
#main_img{
  width: 100%;
  height: 532px;
  background: url("../img/bg.jpg");
  border-top: 1px solid #dcc6c2;
  @include max-screen($breakpoint-mobile01) {
    height: auto;
    border-top: none;
  }
  .inner{
    width: 1220px;
    margin: 0 auto;
    @include clearfix;
    @include max-screen($breakpoint-mobile01) {
      width: 100%;
    }
    .bx-pager{
      margin-top: 20px;
      text-align: center;
      @include max-screen($breakpoint-mobile01){
        display: none;
      }
      .bx-pager-item{
        display: inline-block;
        a {
          display: block;
          width: 14px;
          height: 14px;
          margin-right: 15px;
          -moz-border-radius: 7px;/*角丸指定 四隅を丸くすることで10pxの●に*/
          -webkit-border-radius: 7px;/*角丸指定*/
          border-radius: 7px;/*角丸指定*/
          background: #aaaaaa;
          text-indent: -9999px;/*数字表示をブラウザ外に押しやる*/
          &:hover{
            background: $pink;
          }
        }
        .active{
          background: $pink;
        }
      }
    }
    .slider li {
      width: 1220px;
      .shadow{
        margin: 0 auto;
        display: block;
        box-shadow: 0px 0 25px -5px #000;
      }
    }
  }
}

#select{
  height: 336px;
  background: url("../img/top/select_bg.jpg") center 0;
  @include max-screen($breakpoint-mobile01) {
    width: 100%;
    height: auto;
    background: url("../img/top/select_bg.jpg") center top repeat-x;
    background-size: auto 43%;
  }
  .inner{
    @include wrap;
    @include clearfix;
    padding: 18px 0 38px;
    @include max-screen($breakpoint-mobile01){
      width: 100%;
      padding: 0;
    }
    h2{
      text-align: center;
      @include max-screen($breakpoint-mobile01){
        width: 77%;
        margin: 0 auto;
        padding: 20px 0;
      }
    }
    ul{
      width: 1000px;
      margin: 20px auto 0;
      @include max-screen($breakpoint-mobile01){
        width: 94%;
        margin: 0 auto;
        @include clearfix;
      }
      li{
        float: left;
        width: 250px;
        height: 220px;
        font-size: 13px;
        font-weight: bold;
        @include max-screen($breakpoint-mobile01) {
          width: 48%;
          height: 100%;
          margin-bottom: 3%;
        }
        .name{
          margin: 12px 0 0 18px;
          @include max-screen($breakpoint-mobile01) {
            text-align: left;
            font-size: 11px;
            margin: 5% 0 0;
            padding-left: 7%;
          }
        }
        .price{
          margin: 10px 0 0 18px;
          @include max-screen($breakpoint-mobile01) {
            text-align: left;
            font-size: 11px;
            margin: 5% 0 10%;
            padding-left: 7%;
          }
        }
        &:nth-child(1){
          background: url("../img/top/select_unit_bg01.png") no-repeat;
          @include max-screen($breakpoint-mobile01) {
            background-size:cover;
          }
          .wrap {
            position: relative;
            width: 220px;
            height: 142px;
            margin: 12px 0 0 10px;
            @include max-screen($breakpoint-mobile01) {
              width: 88%;
              height: auto;
              margin: 0 auto;
            }
            .pin{
              position: absolute;
              z-index: 2;
              margin: -5px 0 0 45%;
              @include max-screen($breakpoint-mobile01) {
                margin: 0;
                top: -5%;
                left: 45%;
                width: 12px;
                height: 12px;
              }
            }
            .photo{
              position: absolute;
              z-index: 1;
              transform: rotate(-1deg);
              border: 2px solid #f1f0ef;
              @include max-screen($breakpoint-mobile01) {
                position: static;
                width: 100%;
                margin-top: 6%;
              }
            }
          }
        }
        &:nth-child(2){
          background: url("../img/top/select_unit_bg02.png") 50% 0 no-repeat;
          @include max-screen($breakpoint-mobile01) {
            float: right;
            background-size:cover;
          }
          .wrap {
            position: relative;
            width: 220px;
            height: 142px;
            margin: 12px 0 0 14px;
            @include max-screen($breakpoint-mobile01) {
              width: 88%;
              height: auto;
              margin: 0 auto;
            }
            .pin{
              position: absolute;
              z-index: 2;
              margin: -5px 0 0 45%;
              @include max-screen($breakpoint-mobile01) {
                margin: 0;
                top: -5%;
                left: 45%;
                width: 12px;
                height: 12px;
              }
            }
            .photo{
              position: absolute;
              z-index: 1;
              transform: rotate(1deg);
              border: 2px solid #f1f0ef;
              @include max-screen($breakpoint-mobile01) {
                position: static;
                width: 100%;
                margin-top: 6%;
              }
            }
          }
        }
        &:nth-child(3){
          background: url("../img/top/select_unit_bg01.png") 50% 0 no-repeat;
          @include max-screen($breakpoint-mobile01) {
            background-position: 0 0;
            background-size:cover;
          }
          .wrap {
            position: relative;
            width: 220px;
            height: 142px;
            margin: 12px 0 0 14px;
            @include max-screen($breakpoint-mobile01) {
              width: 88%;
              height: auto;
              margin: 0 auto;
            }
            .pin{
              position: absolute;
              z-index: 2;
              margin: -5px 0 0 45%;
              @include max-screen($breakpoint-mobile01) {
                margin: 0;
                top: -5%;
                left: 45%;
                width: 12px;
                height: 12px;
              }
            }
            .photo{
              position: absolute;
              z-index: 1;
              transform: rotate(-1deg);
              border: 2px solid #f1f0ef;
              @include max-screen($breakpoint-mobile01) {
                position: static;
                width: 100%;
                margin-top: 6%;
              }
            }
          }
        }
        &:nth-child(4){
          background: url("../img/top/select_unit_bg02.png") 100% 0 no-repeat;
          @include max-screen($breakpoint-mobile01) {
            float: right;
            background-position: 50% 0;
            background-size:cover;
          }
          .wrap {
            position: relative;
            width: 220px;
            height: 142px;
            margin: 12px 0 0 19px;
            @include max-screen($breakpoint-mobile01) {
              width: 88%;
              height: auto;
              margin: 0 auto;
            }
            .pin{
              position: absolute;
              z-index: 2;
              margin: -5px 0 0 45%;
              @include max-screen($breakpoint-mobile01) {
                margin: 0;
                top: -5%;
                left: 45%;
                width: 12px;
                height: 12px;
              }
            }
            .photo{
              position: absolute;
              z-index: 1;
              transform: rotate(1deg);
              border: 2px solid #f1f0ef;
              @include max-screen($breakpoint-mobile01) {
                position: static;
                width: 100%;
                margin-top: 6%;
              }
            }
          }
        }
      }
    }
  }
}

#cake{
  width: 100%;
  padding-top: 40px;
  background: url("../img/bg.jpg");
  @include max-screen($breakpoint-mobile01) {
    padding-top: 20px;
  }
  .inner{
    @include clearfix;
    width: 920px;
    height: 450px;
    margin: 0 auto;
    padding: 50px 40px;
    background: url("../img/top/cake_bg.jpg") center 0 no-repeat;
    @include max-screen($breakpoint-mobile01) {
      width: 94%;
      height: 100%;
      padding: 10% 0;
      background: url("../img/sp/cake_bg.jpg") center top no-repeat;
      background-size:100% 100%;
    }
    .season{
      @include clearfix;
      margin-bottom: 30px;
      @include max-screen($breakpoint-mobile01) {
        width: 67.5%;
        margin: 0 auto;
      }
      h2{
        float: left;
        margin-right: 17px;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          margin: 0;
        }
      }
      p{
        float: left;
      }
      .photo{
        border: 4px solid #fff;
        @include max-screen($breakpoint-mobile01) {
        width: 97%;
        margin: 10px 0 15px;
        }
      }
      .unit{
        float: right;
        width: 175px;
        margin-right: 5px;
        padding-top: 30px;
        font-size: 13px;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          clear: both;
          width: 100%;
          padding-top: 0;
        }
        h3{
          font-weight: bold;
          color: #fff;
        }
        .price{
          margin: 10px 0 25px;
          font-weight: bold;
          color: #fff;
          @include max-screen($breakpoint-mobile01) {
            margin: 10px 0;
          }
        }
        .txt{
          clear: left;
          line-height: 1.692;
          color: #fff;
        }
      }
    }
    .birthday{
      @include clearfix;
      @include max-screen($breakpoint-mobile01) {
        width: 67.5%;
        margin: 0 auto;
        padding-top: 20px;
      }
      h2{
        float: right;
        @include max-screen($breakpoint-mobile01) {
          float: none;
        }
      }
      .unit{
        float: right;
        width: 210px;
        margin: 0 10px 0 15px;
        padding-top: 30px;
        font-size: 13px;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          width: 100%;
          padding: 0;
          margin: 0;
        }
        .price{
          margin-bottom: 15px;
          font-weight: bold;
          color: #fff;
          @include max-screen($breakpoint-mobile01) {
            margin-bottom: 10px;
          }
        }
        .txt{
          padding-top: 10px;
          line-height: 1.692;
          color: #fff;
          @include max-screen($breakpoint-mobile01) {
            padding-top: 0;
          }
        }
      }
      .photo01{
        float: right;
        width: 224px;
        height: 205px;
        border: 4px solid #fff;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          width: 97%;
          height: auto;
          margin: 10px 0;
        }
      }
      .photo02{
        float: left;
        width: 224px;
        height: 205px;
        border: 4px solid #fff;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          width: 97%;
          height: auto;
          margin-bottom: 15px;
        }
      }
    }
  }
}

#topics{
  width: 100%;
  height: 365px;
  padding-bottom: 90px;
  background: url("../img/bg.jpg");
  @include max-screen($breakpoint-mobile01) {
    height: 100%;
    padding: 20px 0 5px;
  }
  .inner{
    @include clearfix;
    width: 1000px;
    margin: 0 auto;
    @include max-screen($breakpoint-mobile01) {
      width: 94%;
      height: 100%;
    }
    .news{
      float: left;
      width: 474px;
      height: 365px;
      background: url("../img/top/news_bg.png") no-repeat;
      @include max-screen($breakpoint-mobile01) {
        float: none;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        padding: 30px 0 10px;
        background: url("../img/sp/news_bg.png") center top no-repeat;
        background-size: 100% 100%;
        /*background-size: cover;*/
      }
      h2{
        padding: 90px 0 8px 0;
        text-align: center;
        @include max-screen($breakpoint-mobile01) {
          padding: 0 0 15px;
          width: 84%;
          margin-left: 6.5%;
          /*margin-left: 23px;*/
        }
      }
    }

    .holiday{
      float: right;
      width: 474px;
      height: 365px;
      background: url("../img/top/holiday_bg.png") no-repeat;
      @include max-screen($breakpoint-mobile01) {
        float: none;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        padding: 30px 0 10px;
        background: url("../img/sp/news_bg.png") center top no-repeat;
        background-size: 100% 100%;
      }
      h2{
        padding: 90px 0 8px 0;
        text-align: center;
        @include max-screen($breakpoint-mobile01) {
          padding: 0 0 15px;
          width: 52%;
          margin-left: 23%;
        }
      }
    }
    .news,
    .holiday{
      .article_area{
        width: 425px;
        height: 235px;
        margin: 0 auto;
        overflow:hidden;
        color: $pink;
        @include max-screen($breakpoint-mobile01) {
          width: 90%;
        }
        .unit{
          width: 415px;
          padding: 17px 0;
          border-top: 1px dotted $pink;
          font-size: 13px;
          @include max-screen($breakpoint-mobile01) {
            width: 100%;
            height: auto;
            padding: 15px 0;
          }
          .date{
            padding-bottom: 17px;
            color: $pink;
          }
          .txt{
            line-height: 1.692;
          }
        }
      }
    }
  }
}

#to_top{
  width: 100%;
  background: url("../img/bg.jpg");
  .inner{
    @include wrap;
    @include clearfix;
    position: relative;
    @include max-screen($breakpoint-mobile01) {
      width: 94%;
      margin: 0 auto;
    }
    p{
      position: absolute;
      top: 340px;
      left: 1129px;
      @include max-screen($breakpoint-mobile01) {
        position: static;
        width: 71px;
        height: 71px;
        margin: 0 auto 20px;
      }
    }
  }
}

/* ボトムページ 共通
-------------------------------------------------- */
#btm_main_img{
  width: 100%;
  height: 158px;
  background: url("../img/bottom/main_img_bg.jpg") center 0 no-repeat;
  @include max-screen($breakpoint-mobile01) {
    height: 100%;
    background: none;
  }
  .inner{
    @include clearfix;
    @include wrap;
    @include max-screen($breakpoint-mobile01) {
      width: 100%;
    }
    p{
      width: 100%;
    }
    h2{
      text-align: center;
      @include max-screen($breakpoint-mobile01) {
        width: 100%;
        height: 100%;
        background: url("../img/bottom/main_img_bg.jpg") center top no-repeat;
        background-size: auto 100%;
        img{
          width: 88%;
        }
      }
    }
  }
}

#contents{
  width: 100%;
  padding-top: 60px;
  background: url("../img/bg.jpg");
  @include max-screen($breakpoint-mobile01) {
    padding-top: 25px;
  }
  .inner{
    @include clearfix;
    width: 1000px;
    margin: 0 auto;
  }
}

#btm_to_top{
  width: 100%;
  background: url("../img/bg.jpg");
  .inner{
    @include wrap;
    @include clearfix;
    position: relative;
    @include max-screen($breakpoint-mobile01) {
      width: 94%;
      margin: 0 auto;
    }
    p{
      position: absolute;
      top: -20px;
      left: 1129px;
      @include max-screen($breakpoint-mobile01) {
        position: static;
        width: 71px;
        height: 71px;
        margin: 20px auto ;
      }
    }
  }
}

/* ボトムページ ホールケーキ/プチガトー/焼き菓子
-------------------------------------------------- */
#contents.hpb{
  padding-bottom: 90px;
  @include max-screen($breakpoint-mobile01) {
    padding-bottom: 0;
  }
  .inner{
    @include max-screen($breakpoint-mobile01) {
      width: 80%;
    }
    ul{
      @include clearfix;
      li{
        display: block;
        float: left;
        width:300px;
        height: 385px;
        margin-bottom: 15px;
        font-size: 13px;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          width: 100%;
          height: auto;
          margin-bottom: 20px;
        }
        &:nth-child(3n-1){
          margin: 0 50px;
          @include max-screen($breakpoint-mobile01) {
            margin: 0 0 15px;
          }
        }
        p{
          line-height: 1.385;
        }
        .photo{
          height: 212px;
          background: url("../img/bottom/photo_bg.png") 0 0 no-repeat;
          @include max-screen($breakpoint-mobile01) {
            height: auto;
            padding-bottom: 2%;
            background-size: 100% auto;
          }
          img{
            display: block;
            padding: 5px;
            @include max-screen($breakpoint-mobile01) {
              width: 96.6%;
              margin: 0 auto;
              padding: 1.6% 0;
            }
          }
        }
        .name{
          padding: 8px 0 20px;
          font-size: 15px;
          color: #834b04;
          text-align: center;
        }
        .price,
        .note{
          color: $pink;
        }
      }
    }
  }
}

/* ボトムページ 店舗案内
-------------------------------------------------- */
#contents.shop{
  padding: 0 0 75px;
  @include max-screen($breakpoint-mobile01) {
    padding: 25px 0 0;
  }
  .shopinfo{
    background: url("../img/shop/shopinfo_inner_bg.jpg") center 0 no-repeat;
    height: 608px;
    @include max-screen($breakpoint-mobile01) {
      width: 94%;
      height: auto;
      background: none;
    }
    .unit{
      float: left;
      width: 492px;
      height: 478px;
      margin-top: 65px;
      background: url("../img/shop/shopinfo_bg.jpg") 0 0 no-repeat;
      @include max-screen($breakpoint-mobile01) {
        float: none;
        width: 100%;
        height: auto;
        margin: 0;
        padding-bottom: 15%;
        background: url("../img/sp/shopinfo_bg.jpg") center top no-repeat;
        background-size: 100% 100%;
      }
      h3{
        width: 400px;
        margin: 0 auto;
        text-align: center;
        padding: 45px 0 25px;
        border-bottom: 1px dotted #fff;
        @include max-screen($breakpoint-mobile01) {
          width: 22%;
          border: none;
        }
      }
      table{
        width: 400px;
        margin: 0 auto;
        font-size: 14px;
        @include max-screen($breakpoint-mobile01) {
          width: 84%;
          margin: 0 auto;
          border-top: 1px dotted #fff;
        }
        tr{
          height: 45px;
          border-bottom: 1px dotted #fff;
          @include max-screen($breakpoint-mobile01) {
            height: auto;
          }
          th {
            width: 100px;
            padding: 0 30px 0 20px;
            vertical-align: middle;
            color: #fff;
            border-bottom: 1px dotted #fff;
            @include max-screen($breakpoint-mobile01) {
              width: 23%;
              padding: 18px 3% 18px 2%;
              vertical-align: none;
              text-align: left;
            }
          }
          td {
            width: 300px;
            vertical-align: middle;
            color: #fff;
            border-bottom: 1px dotted #fff;
            @include max-screen($breakpoint-mobile01) {
              width: 70%;
            }
          }
        }
      }
    }
  }
  .catchcopy{
    padding-top: 15px;
    @include max-screen($breakpoint-mobile01) {
      width: 94%;
      padding-top: 35px;
    }
    h3{
      text-align: center;
      @include max-screen($breakpoint-mobile01) {
        width: 90%;
        margin: 0 auto;
      }
    }
    .txt_area{
      width: 630px;
      margin: 0 auto;
      padding: 40px 0 55px;
      text-align: center;
      font-size: 14px;
      line-height: 1.857;
      @include max-screen($breakpoint-mobile01) {
        width: 90%;
        padding: 15px 0 25px;
        font-size: 13px;
      }
    }
  }
  .map{
    height: 570px;
    margin: 50px auto 60px;
    padding-top: 35px;
    background: url("../img/shop/map_bg.gif") no-repeat;
    @include max-screen($breakpoint-mobile01) {
      width: 94%;
      margin: 25px auto 0;
      height: auto;
      padding: 25px 0;
      background: url("../img/sp/map_bg.gif") center top no-repeat;
      background-size: 100% 100%;
    }
    .gmap{
      width: 920px;
      margin: 0 auto 25px;
      @include max-screen($breakpoint-mobile01) {
        width: 88%;
        margin-bottom: 15px;
        position: relative;
        padding-bottom: 57%; // これが縦横比
        height: 0;
        overflow: hidden;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
    h3{
      float: left;
      height: 40px;
      margin-left: 40px;
      padding: 12px 30px 0 90px;
      font-size: 18px;
      color: $pink;
      background: url("../img/shop/map_icon.gif") no-repeat;
      @include max-screen($breakpoint-mobile01) {
        float: none;
        width: 60%;
        height: auto;
        margin: 0 auto;
        padding: 12px 0 18px 28%;
      }
    }
    .txt{
      font-size: 13px;
      line-height: 1.692;
      @include max-screen($breakpoint-mobile01) {
        width: 88%;
        margin: 0 auto;
      }
    }
  }
}

/* ボトムページ お問合せ
-------------------------------------------------- */
#contents.contact{
  padding-bottom: 80px;
  @include max-screen($breakpoint-mobile01) {
    padding-bottom: 0;
  }
  .inner{
    @include max-screen($breakpoint-mobile01) {
      width: 94%;
    }
    h3{
      text-align: center;
      @include max-screen($breakpoint-mobile01) {
        width: 100%;
      }
    }
    .txt01{
      margin: 60px 0 25px;
      font-size: 14px;
      line-height: 1.857;
      @include max-screen($breakpoint-mobile01) {
        margin: 15px 0 35px;
      }
    }
    .tbl_wrap{
      table{
        width: 100%;
        font-size: 14px;
        tr{
          th{
            width: 202px;
            height: 73px;
            padding-left: 56px;
            vertical-align: middle;
            font-weight: normal;
            text-align: left;
            @include max-screen($breakpoint-mobile01) {
              display: block;
              width: 50%;
              padding: 10px 0;
              height: auto;
            }
          }
          .must02{
            background: url("../img/sp/must_icon.gif") 12px center no-repeat;
            @include max-screen($breakpoint-mobile01) {
              padding-left: 35px;
              background-position: 0 center;
            }
          }
          td{
            vertical-align: middle;
            @include max-screen($breakpoint-mobile01) {
              display: block;
              input[type="text"], input[type="email"], input[type="tel"], textarea {
                width: 98%;
              }
            }
            ol{
              li{
                margin: 15px 0;
                @include max-screen($breakpoint-mobile01) {
                  &:first-child {
                    margin-top: 0;
                  }
                }
                span{
                  margin-right: 15px;
                  border-bottom: 1px solid #90887c;
                  @include max-screen($breakpoint-mobile01) {
                    border-bottom: none;
                  }
                }
              }
            }
            a{
              margin-left: 15px;
              border-bottom: 1px solid #90887c;
            }
          }
          .p_code {
            @include max-screen($breakpoint-mobile01) {
              margin-bottom: 5px;
              input[type="text"] {
                width: 50%;
              }
            }
          }
          .town {
            @include max-screen($breakpoint-mobile01) {
              input[type="text"] {
                width: 73%;
              }
            }
          }
          .btm{
            padding: 25px 0;
            @include max-screen($breakpoint-mobile01) {
              padding: 0;
            }
          }
          .ipf{
            height: 30px; /*inputフォームの高さ*/
          }
        }
        .color{
          background: url("../img/contact/tr_bg.png");
          @include max-screen($breakpoint-mobile01) {
            background: none;
          }
        }
      }
    }
    .confirm_btn{
      margin: 35px 0 100px;
      text-align: center;
      @include max-screen($breakpoint-mobile01) {
        width: 100%;
        margin-bottom: 25px;
      }
      .mysubmit {
        border: none !important;
        background: none !important;
        border-radius: 0 !important;
        @include max-screen($breakpoint-mobile01) {
          display: block;
          margin: 0 auto;
        }
        &:hover {
          box-shadow: none !important;
        }
      }
    }
    h4{
      font-size: 14px;
      font-weight: bold;
      @include max-screen($breakpoint-mobile01) {
        font-size: 13px;
      }
    }
    .txt02{
      font-size: 14px;
      margin: 12px 0 30px;
      @include max-screen($breakpoint-mobile01) {
        font-size: 13px;
        margin: 5px 0 25px;
        line-height: 1.692;
      }
    }
  }
}

/* ボトムページ サンクスページ
-------------------------------------------------- */
#contents.thanks{
  padding-bottom: 1100px;
  .inner{
    @include max-screen($breakpoint-mobile01) {
      width: 80%;
    }
    h3{
      text-align: center;
      @include max-screen($breakpoint-mobile01) {
        width: 100%;
      }
    }
    .txt{
      width: 800px;
      margin: 60px auto 0;
      font-size: 13px;
      line-height: 1.857;
      @include max-screen($breakpoint-mobile01) {
        width: 100%;
      }
    }
  }
}




