@charset "UTF-8";
/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
body {
  min-width: 1220px;
  font-family: 'メイリオ', Meiryo;
  font-size: 13px;
  color: #0d0d0d;
  line-height: 1;
}

@media screen and (max-width: 750px) {
  body {
    min-width: initial;
  }
}

@media screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 751px) {
  .rsp {
    display: none !important;
  }
}

@media screen and (max-width: 750px) {
  img {
    width: 100%;
    height: auto;
  }
}

/* -------------------------------------------------- ヘッダー（共通） */
#header {
  width: 100%;
  background: url("../img/header_bg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #header {
    background: url("../img/bg.jpg");
  }
}

#header .inner {
  *zoom: 1;
  width: 1000px;
  height: 140px;
  margin: 0 auto;
  padding: 0 100px;
  background: url("../img/header_inner_bg.jpg") center 0 no-repeat;
}

#header .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #header .inner {
    width: 100%;
    height: auto;
    padding: 0;
    background: none;
  }
}

#header .inner .logo {
  float: left;
  margin: 48px 0 0 0;
}

@media screen and (max-width: 750px) {
  #header .inner .logo {
    margin: 0 0 0 15px;
  }
}

#header .inner .logo h1 {
  background: url("../img/logo.gif") 0 18px no-repeat;
}

@media screen and (max-width: 750px) {
  #header .inner .logo h1 {
    height: auto;
    background: url("../img/logo.gif") 0 12px no-repeat;
  }
}

#header .inner .logo h1 a {
  display: block;
  padding: 60px 0 0 95px;
  font-size: 12px;
  font-family: "Kozuka Mincho Pr6N";
  color: #b2303c;
}

@media screen and (max-width: 750px) {
  #header .inner .logo h1 a {
    padding: 50px 0 12px 95px;
    text-align: right;
  }
}

#header .inner #menu_btn {
  float: right;
}

#header .inner #gnav {
  float: right;
  margin: 80px 0 0 100px;
}

#header .inner #gnav li {
  display: inline-block;
  padding-left: 27px;
}

#header .inner #gnav li:first-child {
  width: 25px;
  padding: 0;
  text-align: left;
}

#header .inner #gnav li:last-child {
  width: 63px;
  text-align: right;
}

#header .inner #menu {
  display: none;
  width: 100%;
  top: 74px;
  position: absolute;
  z-index: 100;
}

#header .inner #menu li {
  background-color: #b2303c;
  border-top: 1px solid #fff;
}

#header .inner #menu li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* -------------------------------------------------- フッター（共通） */
#footer {
  width: 100%;
  height: 430px;
  background: url("../img/footer_bg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #footer {
    height: auto;
    background: url("../img/sp/footer_bg.jpg") center top no-repeat;
    background-size: auto 100%;
  }
}

#footer .inner {
  width: 1200px;
  margin: 0 auto;
  height: 430px;
  background: url("../img/footer_inner_bg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #footer .inner {
    width: 100%;
    height: auto;
    padding-bottom: 2%;
    background: none;
  }
}

#footer .inner .shop_info {
  *zoom: 1;
  width: 535px;
  margin-left: 100px;
  padding: 54px 0 25px;
}

#footer .inner .shop_info:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #footer .inner .shop_info {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

#footer .inner .shop_info h2 {
  float: left;
}

@media screen and (max-width: 750px) {
  #footer .inner .shop_info h2 {
    float: none;
    width: 180px;
    height: 109px;
    margin: 0 auto;
    padding: 20px;
  }
}

#footer .inner .shop_info dl {
  float: right;
  width: 315px;
  font-size: 13px;
  line-height: 2.154;
  color: #fff;
}

@media screen and (max-width: 750px) {
  #footer .inner .shop_info dl {
    *zoom: 1;
    float: none;
    margin: 0 auto;
    line-height: 1.846;
  }
  #footer .inner .shop_info dl:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

#footer .inner .shop_info dl dt {
  float: left;
  clear: left;
  width: 55px;
  padding-right: 20px;
  color: #fff;
}

#footer .inner .shop_info dl dd {
  float: left;
  color: #fff;
}

#footer .inner .tel {
  width: 478px;
  height: 58px;
  margin-left: 100px;
  padding: 20px 25px 17px 25px;
}

@media screen and (max-width: 750px) {
  #footer .inner .tel {
    *zoom: 1;
    width: 315px;
    height: auto;
    margin: 25px auto 45px;
    padding: 10px 0;
    background: #970c00;
  }
  #footer .inner .tel:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

#footer .inner .tel .txt01 {
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 750px) {
  #footer .inner .tel .txt01 {
    padding: 0 0 10px;
    font-size: 11px;
    text-align: center;
  }
}

#footer .inner .tel .tel_icon {
  float: left;
  width: 126px;
  padding-left: 15px;
}

#footer .inner .tel .txt02 {
  padding-top: 18px;
  text-align: right;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 750px) {
  #footer .inner .tel .txt02 {
    float: left;
    padding: 1% 0 0 2%;
    font-size: 9px;
  }
}

#footer .inner ul {
  width: 535px;
  margin: 20px 0 0 105px;
  font-size: 0;
}

#footer .inner ul li {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-right: 2px solid #fff;
}

#footer .inner ul li:first-child {
  border-left: 2px solid #fff;
}

#footer .inner ul li a {
  display: block;
  padding: 0 11px;
  color: #fff;
}

#footer .inner .copyright {
  margin-top: 60px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

@media screen and (max-width: 750px) {
  #footer .inner .copyright {
    margin-top: 0;
    padding-bottom: 4px;
    font-size: 9px;
  }
}

/* トップページ
-------------------------------------------------- */
#main_img {
  width: 100%;
  height: 532px;
  background: url("../img/bg.jpg");
  border-top: 1px solid #dcc6c2;
}

@media screen and (max-width: 750px) {
  #main_img {
    height: auto;
    border-top: none;
  }
}

#main_img .inner {
  width: 1220px;
  margin: 0 auto;
  *zoom: 1;
}

#main_img .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #main_img .inner {
    width: 100%;
  }
}

#main_img .inner .bx-pager {
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  #main_img .inner .bx-pager {
    display: none;
  }
}

#main_img .inner .bx-pager .bx-pager-item {
  display: inline-block;
}

#main_img .inner .bx-pager .bx-pager-item a {
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 15px;
  /*角丸指定 四隅を丸くすることで10pxの●に*/
  /*角丸指定*/
  border-radius: 7px;
  /*角丸指定*/
  background: #aaaaaa;
  text-indent: -9999px;
  /*数字表示をブラウザ外に押しやる*/
}

#main_img .inner .bx-pager .bx-pager-item a:hover {
  background: #b2303c;
}

#main_img .inner .bx-pager .bx-pager-item .active {
  background: #b2303c;
}

#main_img .inner .slider li {
  width: 1220px;
}

#main_img .inner .slider li .shadow {
  margin: 0 auto;
  display: block;
  box-shadow: 0px 0 25px -5px #000;
}

#select {
  height: 336px;
  background: url("../img/top/select_bg.jpg") center 0;
}

@media screen and (max-width: 750px) {
  #select {
    width: 100%;
    height: auto;
    background: url("../img/top/select_bg.jpg") center top repeat-x;
    background-size: auto 43%;
  }
}

#select .inner {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
  padding: 18px 0 38px;
}

#select .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #select .inner {
    width: 100%;
    padding: 0;
  }
}

#select .inner h2 {
  text-align: center;
}

@media screen and (max-width: 750px) {
  #select .inner h2 {
    width: 77%;
    margin: 0 auto;
    padding: 20px 0;
  }
}

#select .inner ul {
  width: 1000px;
  margin: 20px auto 0;
}

@media screen and (max-width: 750px) {
  #select .inner ul {
    width: 94%;
    margin: 0 auto;
    *zoom: 1;
  }
  #select .inner ul:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

#select .inner ul li {
  float: left;
  width: 250px;
  height: 220px;
  font-size: 13px;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  #select .inner ul li {
    width: 48%;
    height: 100%;
    margin-bottom: 3%;
  }
}

#select .inner ul li .name {
  margin: 12px 0 0 18px;
}

@media screen and (max-width: 750px) {
  #select .inner ul li .name {
    text-align: left;
    font-size: 11px;
    margin: 5% 0 0;
    padding-left: 7%;
  }
}

#select .inner ul li .price {
  margin: 10px 0 0 18px;
}

@media screen and (max-width: 750px) {
  #select .inner ul li .price {
    text-align: left;
    font-size: 11px;
    margin: 5% 0 10%;
    padding-left: 7%;
  }
}

#select .inner ul li:nth-child(1) {
  background: url("../img/top/select_unit_bg01.png") no-repeat;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(1) {
    background-size: cover;
  }
}

#select .inner ul li:nth-child(1) .wrap {
  position: relative;
  width: 220px;
  height: 142px;
  margin: 12px 0 0 10px;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(1) .wrap {
    width: 88%;
    height: auto;
    margin: 0 auto;
  }
}

#select .inner ul li:nth-child(1) .wrap .pin {
  position: absolute;
  z-index: 2;
  margin: -5px 0 0 45%;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(1) .wrap .pin {
    margin: 0;
    top: -5%;
    left: 45%;
    width: 12px;
    height: 12px;
  }
}

#select .inner ul li:nth-child(1) .wrap .photo {
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  border: 2px solid #f1f0ef;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(1) .wrap .photo {
    position: static;
    width: 100%;
    margin-top: 6%;
  }
}

#select .inner ul li:nth-child(2) {
  background: url("../img/top/select_unit_bg02.png") 50% 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(2) {
    float: right;
    background-size: cover;
  }
}

#select .inner ul li:nth-child(2) .wrap {
  position: relative;
  width: 220px;
  height: 142px;
  margin: 12px 0 0 14px;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(2) .wrap {
    width: 88%;
    height: auto;
    margin: 0 auto;
  }
}

#select .inner ul li:nth-child(2) .wrap .pin {
  position: absolute;
  z-index: 2;
  margin: -5px 0 0 45%;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(2) .wrap .pin {
    margin: 0;
    top: -5%;
    left: 45%;
    width: 12px;
    height: 12px;
  }
}

#select .inner ul li:nth-child(2) .wrap .photo {
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  border: 2px solid #f1f0ef;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(2) .wrap .photo {
    position: static;
    width: 100%;
    margin-top: 6%;
  }
}

#select .inner ul li:nth-child(3) {
  background: url("../img/top/select_unit_bg01.png") 50% 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(3) {
    background-position: 0 0;
    background-size: cover;
  }
}

#select .inner ul li:nth-child(3) .wrap {
  position: relative;
  width: 220px;
  height: 142px;
  margin: 12px 0 0 14px;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(3) .wrap {
    width: 88%;
    height: auto;
    margin: 0 auto;
  }
}

#select .inner ul li:nth-child(3) .wrap .pin {
  position: absolute;
  z-index: 2;
  margin: -5px 0 0 45%;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(3) .wrap .pin {
    margin: 0;
    top: -5%;
    left: 45%;
    width: 12px;
    height: 12px;
  }
}

#select .inner ul li:nth-child(3) .wrap .photo {
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  border: 2px solid #f1f0ef;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(3) .wrap .photo {
    position: static;
    width: 100%;
    margin-top: 6%;
  }
}

#select .inner ul li:nth-child(4) {
  background: url("../img/top/select_unit_bg02.png") 100% 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(4) {
    float: right;
    background-position: 50% 0;
    background-size: cover;
  }
}

#select .inner ul li:nth-child(4) .wrap {
  position: relative;
  width: 220px;
  height: 142px;
  margin: 12px 0 0 19px;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(4) .wrap {
    width: 88%;
    height: auto;
    margin: 0 auto;
  }
}

#select .inner ul li:nth-child(4) .wrap .pin {
  position: absolute;
  z-index: 2;
  margin: -5px 0 0 45%;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(4) .wrap .pin {
    margin: 0;
    top: -5%;
    left: 45%;
    width: 12px;
    height: 12px;
  }
}

#select .inner ul li:nth-child(4) .wrap .photo {
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  border: 2px solid #f1f0ef;
}

@media screen and (max-width: 750px) {
  #select .inner ul li:nth-child(4) .wrap .photo {
    position: static;
    width: 100%;
    margin-top: 6%;
  }
}

#cake {
  width: 100%;
  padding-top: 40px;
  background: url("../img/bg.jpg");
}

@media screen and (max-width: 750px) {
  #cake {
    padding-top: 20px;
  }
}

#cake .inner {
  *zoom: 1;
  width: 920px;
  height: 450px;
  margin: 0 auto;
  padding: 50px 40px;
  background: url("../img/top/cake_bg.jpg") center 0 no-repeat;
}

#cake .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #cake .inner {
    width: 94%;
    height: 100%;
    padding: 10% 0;
    background: url("../img/sp/cake_bg.jpg") center top no-repeat;
    background-size: 100% 100%;
  }
}

#cake .inner .season {
  *zoom: 1;
  margin-bottom: 30px;
}

#cake .inner .season:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #cake .inner .season {
    width: 67.5%;
    margin: 0 auto;
  }
}

#cake .inner .season h2 {
  float: left;
  margin-right: 17px;
}

@media screen and (max-width: 750px) {
  #cake .inner .season h2 {
    float: none;
    margin: 0;
  }
}

#cake .inner .season p {
  float: left;
}

#cake .inner .season .photo {
  border: 4px solid #fff;
}

@media screen and (max-width: 750px) {
  #cake .inner .season .photo {
    width: 97%;
    margin: 10px 0 15px;
  }
}

#cake .inner .season .unit {
  float: right;
  width: 175px;
  margin-right: 5px;
  padding-top: 30px;
  font-size: 13px;
}

@media screen and (max-width: 750px) {
  #cake .inner .season .unit {
    float: none;
    clear: both;
    width: 100%;
    padding-top: 0;
  }
}

#cake .inner .season .unit h3 {
  font-weight: bold;
  color: #fff;
}

#cake .inner .season .unit .price {
  margin: 10px 0 25px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 750px) {
  #cake .inner .season .unit .price {
    margin: 10px 0;
  }
}

#cake .inner .season .unit .txt {
  clear: left;
  line-height: 1.692;
  color: #fff;
}

#cake .inner .birthday {
  *zoom: 1;
}

#cake .inner .birthday:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #cake .inner .birthday {
    width: 67.5%;
    margin: 0 auto;
    padding-top: 20px;
  }
}

#cake .inner .birthday h2 {
  float: right;
}

@media screen and (max-width: 750px) {
  #cake .inner .birthday h2 {
    float: none;
  }
}

#cake .inner .birthday .unit {
  float: right;
  width: 210px;
  margin: 0 10px 0 15px;
  padding-top: 30px;
  font-size: 13px;
}

@media screen and (max-width: 750px) {
  #cake .inner .birthday .unit {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

#cake .inner .birthday .unit .price {
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 750px) {
  #cake .inner .birthday .unit .price {
    margin-bottom: 10px;
  }
}

#cake .inner .birthday .unit .txt {
  padding-top: 10px;
  line-height: 1.692;
  color: #fff;
}

@media screen and (max-width: 750px) {
  #cake .inner .birthday .unit .txt {
    padding-top: 0;
  }
}

#cake .inner .birthday .photo01 {
  float: right;
  width: 224px;
  height: 205px;
  border: 4px solid #fff;
}

@media screen and (max-width: 750px) {
  #cake .inner .birthday .photo01 {
    float: none;
    width: 97%;
    height: auto;
    margin: 10px 0;
  }
}

#cake .inner .birthday .photo02 {
  float: left;
  width: 224px;
  height: 205px;
  border: 4px solid #fff;
}

@media screen and (max-width: 750px) {
  #cake .inner .birthday .photo02 {
    float: none;
    width: 97%;
    height: auto;
    margin-bottom: 15px;
  }
}

#topics {
  width: 100%;
  height: 365px;
  padding-bottom: 90px;
  background: url("../img/bg.jpg");
}

@media screen and (max-width: 750px) {
  #topics {
    height: 100%;
    padding: 20px 0 5px;
  }
}

#topics .inner {
  *zoom: 1;
  width: 1000px;
  margin: 0 auto;
}

#topics .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #topics .inner {
    width: 94%;
    height: 100%;
  }
}

#topics .inner .news {
  float: left;
  width: 474px;
  height: 365px;
  background: url("../img/top/news_bg.png") no-repeat;
}

@media screen and (max-width: 750px) {
  #topics .inner .news {
    float: none;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 30px 0 10px;
    background: url("../img/sp/news_bg.png") center top no-repeat;
    background-size: 100% 100%;
    /*background-size: cover;*/
  }
}

#topics .inner .news h2 {
  padding: 90px 0 8px 0;
  text-align: center;
}

@media screen and (max-width: 750px) {
  #topics .inner .news h2 {
    padding: 0 0 15px;
    width: 84%;
    margin-left: 6.5%;
    /*margin-left: 23px;*/
  }
}

#topics .inner .holiday {
  float: right;
  width: 474px;
  height: 365px;
  background: url("../img/top/holiday_bg.png") no-repeat;
}

@media screen and (max-width: 750px) {
  #topics .inner .holiday {
    float: none;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 30px 0 10px;
    background: url("../img/sp/news_bg.png") center top no-repeat;
    background-size: 100% 100%;
  }
}

#topics .inner .holiday h2 {
  padding: 90px 0 8px 0;
  text-align: center;
}

@media screen and (max-width: 750px) {
  #topics .inner .holiday h2 {
    padding: 0 0 15px;
    width: 52%;
    margin-left: 23%;
  }
}

#topics .inner .news .article_area,
#topics .inner .holiday .article_area {
  width: 425px;
  height: 235px;
  margin: 0 auto;
  overflow: hidden;
  color: #b2303c;
}

@media screen and (max-width: 750px) {
  #topics .inner .news .article_area,
  #topics .inner .holiday .article_area {
    width: 90%;
  }
}

#topics .inner .news .article_area .unit,
#topics .inner .holiday .article_area .unit {
  width: 415px;
  padding: 17px 0;
  border-top: 1px dotted #b2303c;
  font-size: 13px;
}

@media screen and (max-width: 750px) {
  #topics .inner .news .article_area .unit,
  #topics .inner .holiday .article_area .unit {
    width: 100%;
    height: auto;
    padding: 15px 0;
  }
}

#topics .inner .news .article_area .unit .date,
#topics .inner .holiday .article_area .unit .date {
  padding-bottom: 17px;
  color: #b2303c;
}

#topics .inner .news .article_area .unit .txt,
#topics .inner .holiday .article_area .unit .txt {
  line-height: 1.692;
}

#to_top {
  width: 100%;
  background: url("../img/bg.jpg");
}

#to_top .inner {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
  position: relative;
}

#to_top .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #to_top .inner {
    width: 94%;
    margin: 0 auto;
  }
}

#to_top .inner p {
  position: absolute;
  top: 340px;
  left: 1129px;
}

@media screen and (max-width: 750px) {
  #to_top .inner p {
    position: static;
    width: 71px;
    height: 71px;
    margin: 0 auto 20px;
  }
}

/* ボトムページ 共通
-------------------------------------------------- */
#btm_main_img {
  width: 100%;
  height: 158px;
  background: url("../img/bottom/main_img_bg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #btm_main_img {
    height: 100%;
    background: none;
  }
}

#btm_main_img .inner {
  *zoom: 1;
  width: 1200px;
  margin: 0 auto;
}

#btm_main_img .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #btm_main_img .inner {
    width: 100%;
  }
}

#btm_main_img .inner p {
  width: 100%;
}

#btm_main_img .inner h2 {
  text-align: center;
}

@media screen and (max-width: 750px) {
  #btm_main_img .inner h2 {
    width: 100%;
    height: 100%;
    background: url("../img/bottom/main_img_bg.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  #btm_main_img .inner h2 img {
    width: 88%;
  }
}

#contents {
  width: 100%;
  padding-top: 60px;
  background: url("../img/bg.jpg");
}

@media screen and (max-width: 750px) {
  #contents {
    padding-top: 25px;
  }
}

#contents .inner {
  *zoom: 1;
  width: 1000px;
  margin: 0 auto;
}

#contents .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_to_top {
  width: 100%;
  background: url("../img/bg.jpg");
}

#btm_to_top .inner {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
  position: relative;
}

#btm_to_top .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #btm_to_top .inner {
    width: 94%;
    margin: 0 auto;
  }
}

#btm_to_top .inner p {
  position: absolute;
  top: -20px;
  left: 1129px;
}

@media screen and (max-width: 750px) {
  #btm_to_top .inner p {
    position: static;
    width: 71px;
    height: 71px;
    margin: 20px auto;
  }
}

/* ボトムページ ホールケーキ/プチガトー/焼き菓子
-------------------------------------------------- */
#contents.hpb {
  padding-bottom: 90px;
}

@media screen and (max-width: 750px) {
  #contents.hpb {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  #contents.hpb .inner {
    width: 80%;
  }
}

#contents.hpb .inner ul {
  *zoom: 1;
}

#contents.hpb .inner ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#contents.hpb .inner ul li {
  display: block;
  float: left;
  width: 300px;
  height: 385px;
  margin-bottom: 15px;
  font-size: 13px;
}

@media screen and (max-width: 750px) {
  #contents.hpb .inner ul li {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

#contents.hpb .inner ul li:nth-child(3n-1) {
  margin: 0 50px;
}

@media screen and (max-width: 750px) {
  #contents.hpb .inner ul li:nth-child(3n-1) {
    margin: 0 0 15px;
  }
}

#contents.hpb .inner ul li p {
  line-height: 1.385;
}

#contents.hpb .inner ul li .photo {
  height: 212px;
  background: url("../img/bottom/photo_bg.png") 0 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #contents.hpb .inner ul li .photo {
    height: auto;
    padding-bottom: 2%;
    background-size: 100% auto;
  }
}

#contents.hpb .inner ul li .photo img {
  display: block;
  padding: 5px;
}

@media screen and (max-width: 750px) {
  #contents.hpb .inner ul li .photo img {
    width: 96.6%;
    margin: 0 auto;
    padding: 1.6% 0;
  }
}

#contents.hpb .inner ul li .name {
  padding: 8px 0 20px;
  font-size: 15px;
  color: #834b04;
  text-align: center;
}

#contents.hpb .inner ul li .price,
#contents.hpb .inner ul li .note {
  color: #b2303c;
}

/* ボトムページ 店舗案内
-------------------------------------------------- */
#contents.shop {
  padding: 0 0 75px;
}

@media screen and (max-width: 750px) {
  #contents.shop {
    padding: 25px 0 0;
  }
}

#contents.shop .shopinfo {
  background: url("../img/shop/shopinfo_inner_bg.jpg") center 0 no-repeat;
  height: 608px;
}

@media screen and (max-width: 750px) {
  #contents.shop .shopinfo {
    width: 94%;
    height: auto;
    background: none;
  }
}

#contents.shop .shopinfo .unit {
  float: left;
  width: 492px;
  height: 478px;
  margin-top: 65px;
  background: url("../img/shop/shopinfo_bg.jpg") 0 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #contents.shop .shopinfo .unit {
    float: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 15%;
    background: url("../img/sp/shopinfo_bg.jpg") center top no-repeat;
    background-size: 100% 100%;
  }
}

#contents.shop .shopinfo .unit h3 {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 45px 0 25px;
  border-bottom: 1px dotted #fff;
}

@media screen and (max-width: 750px) {
  #contents.shop .shopinfo .unit h3 {
    width: 22%;
    border: none;
  }
}

#contents.shop .shopinfo .unit table {
  width: 400px;
  margin: 0 auto;
  font-size: 14px;
}

@media screen and (max-width: 750px) {
  #contents.shop .shopinfo .unit table {
    width: 84%;
    margin: 0 auto;
    border-top: 1px dotted #fff;
  }
}

#contents.shop .shopinfo .unit table tr {
  height: 45px;
  border-bottom: 1px dotted #fff;
}

@media screen and (max-width: 750px) {
  #contents.shop .shopinfo .unit table tr {
    height: auto;
  }
}

#contents.shop .shopinfo .unit table tr th {
  width: 100px;
  padding: 0 30px 0 20px;
  vertical-align: middle;
  color: #fff;
  border-bottom: 1px dotted #fff;
}

@media screen and (max-width: 750px) {
  #contents.shop .shopinfo .unit table tr th {
    width: 23%;
    padding: 18px 3% 18px 2%;
    vertical-align: none;
    text-align: left;
  }
}

#contents.shop .shopinfo .unit table tr td {
  width: 300px;
  vertical-align: middle;
  color: #fff;
  border-bottom: 1px dotted #fff;
}

@media screen and (max-width: 750px) {
  #contents.shop .shopinfo .unit table tr td {
    width: 70%;
  }
}

#contents.shop .catchcopy {
  padding-top: 15px;
}

@media screen and (max-width: 750px) {
  #contents.shop .catchcopy {
    width: 94%;
    padding-top: 35px;
  }
}

#contents.shop .catchcopy h3 {
  text-align: center;
}

@media screen and (max-width: 750px) {
  #contents.shop .catchcopy h3 {
    width: 90%;
    margin: 0 auto;
  }
}

#contents.shop .catchcopy .txt_area {
  width: 630px;
  margin: 0 auto;
  padding: 40px 0 55px;
  text-align: center;
  font-size: 14px;
  line-height: 1.857;
}

@media screen and (max-width: 750px) {
  #contents.shop .catchcopy .txt_area {
    width: 90%;
    padding: 15px 0 25px;
    font-size: 13px;
  }
}

#contents.shop .map {
  height: 570px;
  margin: 50px auto 60px;
  padding-top: 35px;
  background: url("../img/shop/map_bg.gif") no-repeat;
}

@media screen and (max-width: 750px) {
  #contents.shop .map {
    width: 94%;
    margin: 25px auto 0;
    height: auto;
    padding: 25px 0;
    background: url("../img/sp/map_bg.gif") center top no-repeat;
    background-size: 100% 100%;
  }
}

#contents.shop .map .gmap {
  width: 920px;
  margin: 0 auto 25px;
}

@media screen and (max-width: 750px) {
  #contents.shop .map .gmap {
    width: 88%;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 57%;
    height: 0;
    overflow: hidden;
  }
  #contents.shop .map .gmap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

#contents.shop .map h3 {
  float: left;
  height: 40px;
  margin-left: 40px;
  padding: 12px 30px 0 90px;
  font-size: 18px;
  color: #b2303c;
  background: url("../img/shop/map_icon.gif") no-repeat;
}

@media screen and (max-width: 750px) {
  #contents.shop .map h3 {
    float: none;
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 12px 0 18px 28%;
  }
}

#contents.shop .map .txt {
  font-size: 13px;
  line-height: 1.692;
}

@media screen and (max-width: 750px) {
  #contents.shop .map .txt {
    width: 88%;
    margin: 0 auto;
  }
}

/* ボトムページ お問合せ
-------------------------------------------------- */
#contents.contact {
  padding-bottom: 80px;
}

@media screen and (max-width: 750px) {
  #contents.contact {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  #contents.contact .inner {
    width: 94%;
  }
}

#contents.contact .inner h3 {
  text-align: center;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner h3 {
    width: 100%;
  }
}

#contents.contact .inner .txt01 {
  margin: 60px 0 25px;
  font-size: 14px;
  line-height: 1.857;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .txt01 {
    margin: 15px 0 35px;
  }
}

#contents.contact .inner .tbl_wrap table {
  width: 100%;
  font-size: 14px;
}

#contents.contact .inner .tbl_wrap table tr th {
  width: 202px;
  height: 73px;
  padding-left: 56px;
  vertical-align: middle;
  font-weight: normal;
  text-align: left;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .tbl_wrap table tr th {
    display: block;
    width: 50%;
    padding: 10px 0;
    height: auto;
  }
}

#contents.contact .inner .tbl_wrap table tr .must02 {
  background: url("../img/sp/must_icon.gif") 12px center no-repeat;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .tbl_wrap table tr .must02 {
    padding-left: 35px;
    background-position: 0 center;
  }
}

#contents.contact .inner .tbl_wrap table tr td {
  vertical-align: middle;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .tbl_wrap table tr td {
    display: block;
  }
  #contents.contact .inner .tbl_wrap table tr td input[type="text"], #contents.contact .inner .tbl_wrap table tr td input[type="email"], #contents.contact .inner .tbl_wrap table tr td input[type="tel"], #contents.contact .inner .tbl_wrap table tr td textarea {
    width: 98%;
  }
}

#contents.contact .inner .tbl_wrap table tr td ol li {
  margin: 15px 0;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .tbl_wrap table tr td ol li:first-child {
    margin-top: 0;
  }
}

#contents.contact .inner .tbl_wrap table tr td ol li span {
  margin-right: 15px;
  border-bottom: 1px solid #90887c;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .tbl_wrap table tr td ol li span {
    border-bottom: none;
  }
}

#contents.contact .inner .tbl_wrap table tr td a {
  margin-left: 15px;
  border-bottom: 1px solid #90887c;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .tbl_wrap table tr .p_code {
    margin-bottom: 5px;
  }
  #contents.contact .inner .tbl_wrap table tr .p_code input[type="text"] {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .tbl_wrap table tr .town input[type="text"] {
    width: 73%;
  }
}

#contents.contact .inner .tbl_wrap table tr .btm {
  padding: 25px 0;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .tbl_wrap table tr .btm {
    padding: 0;
  }
}

#contents.contact .inner .tbl_wrap table tr .ipf {
  height: 30px;
  /*inputフォームの高さ*/
}

#contents.contact .inner .tbl_wrap table .color {
  background: url("../img/contact/tr_bg.png");
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .tbl_wrap table .color {
    background: none;
  }
}

#contents.contact .inner .confirm_btn {
  margin: 35px 0 100px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .confirm_btn {
    width: 100%;
    margin-bottom: 25px;
  }
}

#contents.contact .inner .confirm_btn .mysubmit {
  border: none !important;
  background: none !important;
  border-radius: 0 !important;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .confirm_btn .mysubmit {
    display: block;
    margin: 0 auto;
  }
}

#contents.contact .inner .confirm_btn .mysubmit:hover {
  box-shadow: none !important;
}

#contents.contact .inner h4 {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner h4 {
    font-size: 13px;
  }
}

#contents.contact .inner .txt02 {
  font-size: 14px;
  margin: 12px 0 30px;
}

@media screen and (max-width: 750px) {
  #contents.contact .inner .txt02 {
    font-size: 13px;
    margin: 5px 0 25px;
    line-height: 1.692;
  }
}

/* ボトムページ サンクスページ
-------------------------------------------------- */
#contents.thanks {
  padding-bottom: 1100px;
}

@media screen and (max-width: 750px) {
  #contents.thanks .inner {
    width: 80%;
  }
}

#contents.thanks .inner h3 {
  text-align: center;
}

@media screen and (max-width: 750px) {
  #contents.thanks .inner h3 {
    width: 100%;
  }
}

#contents.thanks .inner .txt {
  width: 800px;
  margin: 60px auto 0;
  font-size: 13px;
  line-height: 1.857;
}

@media screen and (max-width: 750px) {
  #contents.thanks .inner .txt {
    width: 100%;
  }
}
